<br><br>
<h1 align="center">Governance</h1>
<h3 align="center">Celebrating 150 years of Provocans ad Volandum (“Challenging to Fly”)</h3>
<br>
<h6 align="center">Vision: An academic community dedicated to the holistic education of future leaders who will demonstrate innovation in their professional competencies, integration in their personal lives and inclusion in their social contribution.
</h6>
<br>
<h6 align="center">Key Values: Innovation, Integration, Inclusion</h6>